    RewriteEngine On
    RewriteCond %{Request_Filename} !-F
    RewriteCond %{Request_Filename} !-d
    RewriteRule ^ index.php [L]
    RewriteCond %{HTTP_HOST} ^thoofficialmm\\.com [NC] 
    RewriteCond %{SERVER_PORT} 80 
    RewriteRule ^(.*)$ https://www.thoofficialmm.com/$1 [R,L]
