{% include "base.html.twig"%}
<style>
.carousel-indicators li{
  background-color: #000000;
}
.border{
  border: 1px solid #dbe9e8;
}
</style>
<button type="button" class="btn btn-outline-success" id="btnCreateJson">Create Json</button>
<script>
var logic = {
  init:function(){
    $("#btnCreateJson").on("click",function(){ 
      logic.createJson();
    });
  },
  createJson:function(){
    THO.POST("/api/ApiAdmin", {}, function(text, data, xml) {
    });
  }
};
webix.ready(function () {
  logic.init();
});
</script>
{% include "footer.html.twig"%}
