{% include "base.html.twig"%}
<style>
.carousel-indicators li{
  background-color: #000000;
}
.border{
  border: 1px solid #dbe9e8;
}
.btn{
  width: 150px;
  height: 150px;
  margin-top: 10px;
}
.outOfStock{
  position: absolute;
}
p{
  word-wrap: break-word
}
.center {
  text-align: center;
}
.btn{
  background-color: black;
}
</style>
<h5 class="center">Welcome To THO Official Website<br>Myanmar</h5>
<p>Woolen Collection</p>
<div class="container-fluid" id="controls" name="controls">
  <div class="row">
    <div class="col-auto">
      <button type="button" class="btn btn-primary" onclick="location.href='/collection?collection=Woolen&type=Top'">Top</button>
    </div>
  </div>
</div>
<script>
var logic = {
};
webix.ready(function () {
});
</script>
{% include "footer.html.twig"%}
