{% include "base.html.twig"%}
<style>
.carousel-indicators li{
  background-color: #000000;
}
.border{
  border: 1px solid #dbe9e8;
}
p{
  text-align:justify;  
  text-justify:auto;
}
</style>
<div class="container-fluid" style="max-width:600px;">
  <div id="product_images" class="carousel slide border" data-ride="carousel" data-interval="false">
  </div>
  <form id="upload_image_form" name="upload_image_form" enctype="multipart/form-data">
    Select image to upload:
    <input type="file" name="fileToUpload" id="fileToUpload">
  </form>
  <button type="submit" id="btnImageUpload" class="btn btn-primary">Upload Image</button>
  <form id="info_form" name="info_form">
    <div class="form-group">
      <input type="hidden" id="product_id" name="product_id" value="">
      <label for="product_name">Product name</label>
      <input type="text" class="form-control" id="product_name" name="product_name" placeholder="Product Name">
    </div>
    <div class="form-group">
      <label for="product_description">Product Description</label>
      <textarea class="form-control" id="product_description" name="product_description" placeholder="Product Description" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label for="product_size">Product size</label>
      <input type="text" class="form-control" id="product_size" name="product_size" placeholder="Product Size">
    </div>
    <div class="form-group">
      <label for="product_price">Product price</label>
      <input type="text" class="form-control" id="product_price" name="product_price" placeholder="Product price">
    </div>
    <div class="form-group">
      <label for="product_availability">Availablity</label>
      <select class="form-control" id="product_availability" name="product_availability">
        <option value="1">Available</option>
        <option value="0">Out Of Stock</option>
      </select>
    </div>
    <div class="form-group">
      <label for="product_collection">Collection</label>
      <select class="form-control" id="product_collection" name="product_collection">
        <option value=""></option>
        <option value="Woolen">Woolen</option>
        <option value="Special">Special</option>
      </select>
    </div>
    <div class="form-group">
      <label for="product_type">Type</label>
      <select class="form-control" id="product_type" name="product_type">
        <option value=""></option>
        <option value="Top">Top</option>
        <option value="Cardigan">Cardigan</option>
      </select>
    </div>
  </form>
  <div class="container-fluid" id="controls" name="controls">
    <div class="row">
      <div class="col-auto mr-auto">
        <button type="submit" id="btnRegister" class="btn btn-primary">Register</button>
      </div>
      <div class="col-auto" button>
        <button type="button" class="btn btn-outline-success" id="btnBack">Go Back</button>
      </div>
    </div>
  </div>
</div>
<script>
var logic = {
  init:function(){
    $("#product_images").on("slid.bs.carousel", function () {
      $holder = $("ol li.active");
      $holder.removeClass("active");
      var idx = $("div.active").index("div.carousel-item");
      $("ol.carousel-indicators li[data-slide-to='"+ idx+"']").addClass("active");
    });
    $("ol.carousel-indicators li").on("click",function(){ 
      $("ol.carousel-indicators li.active").removeClass("active");
      $(this).addClass("active");
    });
    $("#btnRegister").on("click",function(){ 
      logic.save();
    });
    $("#btnImageUpload").on("click",function(){
      logic.uploadImage();
    });
    $("#btnBack").on("click",function(){
      location.href = "/adminHome";
    });
    $("input[type=file]").val("");
    logic.dataload();
  },
  dataload:function(){
    var urlParams = THO.getUrlParams();
    THO.GET("/api/ApiProductEdit", {code:urlParams.code}, function(text, data, xml) {
      var json = data.json();
      console.log(json);
      THO.createProductImages(json.images, "product_images");
      // THO.createProductInfo(json.info, "product_info");
      $("#product_id").val(json.info.product_id);
      $("#product_name").val(json.info.name);
      $("#product_description").val(json.info.description);
      $("#product_size").val(json.info.size);
      $("#product_price").val(json.info.price);
      $("#product_availability").val(json.info.product_availability);
      $("#product_collection").val(json.info.product_collection);
      $("#product_type").val(json.info.product_type);
    });
  },
  save:function(){
    var _formData = THO.getFormData("info_form");
    THO.POST("/api/ApiProductEdit/update", _formData, function(text, data, xml) {
      webix.message("Registered");
      location.reload();
    });
  },
  uploadImage:function(){
    var _formData = new FormData($('#upload_image_form').get(0));
    var filename = $('input[type=file]').val().split('\\').pop();
    console.log(filename);
    $.ajax({
       url: '/api/ApiProductEdit/uploadImage',
       type: 'POST',
       data: _formData,
       async: false,
       cache: false,
       contentType: false,
       enctype: 'multipart/form-data',
       processData: false,
       success: function (response) {
        var _postData = {
          product_id:$("#product_id").val(),
          file_name:filename
        };
        THO.POST("/api/ApiProductEdit/add2ImageList", _postData, function(text, data, xml) {
          webix.message("Added To Image List");
          location.reload();
        });
       }
    });
    
  }
};
webix.ready(function () {
  logic.init();
});
</script>
{% include "footer.html.twig"%}
